<div class="social-links">
  <ul class="social-media-list">
    {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">
        <span class="social-icon">𝕏</span>
        <span class="username">{{ site.twitter_username }}</span>
      </a>
    </li>
    {% endif %}

    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
        <span class="social-icon">⚡</span>
        <span class="username">context_rot</span>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{{ '/feed.xml' | relative_url }}" target="_blank" rel="noopener noreferrer">
        <span class="social-icon">📰</span>
        <span class="username">RSS Feed</span>
      </a>
    </li>
  </ul>
</div>
